@{
    ViewData["Title"] = "Start";
}

<div class="text-center">
    <h1 class="display-4">Välkommen till Rydén Development!</h1>
    <p>Sidan är för närvarande under konstruktion, vänligen återkom vid ett senare tillfälle.</p>
    <p>Vill du komma i kontakt så skicka ett mail till <a href="mailto:kim@ryden.dev">kim@ryden.dev</a></p>
</div>