<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Rydén Development - <a asp-area="" asp-controller="Home" asp-action="Privacy">Sekretesspolicy</a>
    </div>
</footer>